<ion-view title="Edit Profile">
  <ion-content>
    <div class="row">
      <div class="col">
        <h1 class="title">Edit Profile</h1>
          <form ng-submit="editProfile()">
            <div class="list">
              <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="editData.name">
              </label>
              <label class="item item-input">
                <span class="input-label">Nickame</span>
                <input type="text" ng-model="editData.nickname">
              </label>
              <label class="item item-input">
                <span class="input-label">Email (req)</span>
                <input type="email" ng-model="editData.email">
              </label>
              <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="editData.password">
              </label>
              <label class="item">
                <button class="button button-block button-positive" type="submit">Update Profile</button>
              </label>
            </div>
          </form>
        <ion-content>
          <div class="row" ng-if="errorMessage">
            <p ng-repeat="error in errorMessage.errors">
              {{error}}
            </p>
          </div>
        </ion-content>

        <h4>Saved profile for </h4>
        <p>Name: {{currentUser.name}}</p>
        <p>Nickname: {{currentUser.nickname}}</p>
        <p>Email: {{currentUser.email}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
